@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------
    utilities
 -------------------*/

.container{
    max-width: 1188px;
    margin: auto;
    
}

main{
    padding: 0 20px;
}

/*-------------------
    nav-section
 -------------------*/
nav{
    max-width: 1200px;
    margin: 20px auto 50px ;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content:space-between;
    padding: 0 20px;
    
}
nav a{
    text-decoration: none;
    color: #3A3A3A;
}
.nav-logo{
    font-size: 24px;
    font-weight: 700;
}
.nav-menu{
    display: flex;
    gap: 0 34px;
}

/*-------------------
      banner-section
 -------------------*/
.banner-cont{
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 0 133px;
    align-items: center;
}

.banner-txt h1{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 70px;
}
.banner-txt p{
    font-size: 16px;
    font-weight: 500;
    color: #3A3A3A;
    line-height: 24px;
}
.btn{
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 41px;
    color: white;
    background-color: #E02C6D;
    margin-top: 16px;
    text-decoration: none;
}
.btn i{
    padding-left: 8px;
}
.banner-img {
    background-image: url(images/Circle\ design.svg);
    width: 475px;
    height: 475px;
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-img img{
    width: 440px;
    height: 414px;
}

/*-------------------
    logos-section
 -------------------*/
 .logo-container{
    max-width: 1110px;
    margin:70px auto 0;
    
 }
 .logos{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
    box-shadow:inset 0px 4px 6px -6px rgba(0, 0, 0, .3),
               inset 0px -4px 6px -6px rgba(0, 0, 0, .3);
 }

 /*-------------------
    collection-section
 -------------------*/
.collection-cont{
    max-width: 1047px;
    margin:100px auto 0;
    font-family: 'Roboto', sans-serif;
    
}

.collection-cont h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
}
.collections .collection img{
    width: 300px;
    height: 256px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.collection{
    line-height: 30px;
    padding: 17px 15px;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .5);

}
.collection p{
    font-size: 28px;
    font-weight: 500;
}
.collection h4{
    font-size: 24px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.87);
}
.collection span{
    font-size: 12px;
}
.collection .star{
    color: #FB8200;
}
.collection h5{
    font-size: 14px;
    font-weight: 700;
}

/*-------------------
    featured-section
 -------------------*/
.feature-cont{
   max-width: 1110px ;
    margin:100px auto 0;
    font-family: 'Poppins', sans-serif;
    
    
}
.feature{
    width: 100%;
    display: flex;
    gap: 0 96px;
    align-items: center;
}
.feature .feature-img img{
    width: 404px;
    height: 270px;
}
.feature-details h1{
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
}
.feature-details p{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 28px;
}
.feature-details a{
    border-radius: 0;
}


/*-------------------
    footer-section
 -------------------*/
 footer{
    width: 100%;
    margin-top: 90px;
    color: white;
    background-color: #0A0826;
    padding: 50px 0;
 }
 .footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .footer-details{
    text-align: center;
    line-height: 30px;
 }
 .footer-details h2{
    font-size: 24px;
    font-weight: 700;
 }
 .footer-details p{
    font-size: 14px;
    color: #D9DBE1;
 }
 .footer-details span{
    display: flex;
    font-size: 17px;
    gap: 0 14px;
    justify-content: center;
    
 }
 .footer-details span i{
    padding: 8px;
    background-color: #444343;
    border-radius: 50%;
 }


 /*-------------------
    media queries
 -------------------*/
@media screen and (max-width : 575px) {
    main{
        padding: 0 20px;
    }
    nav{
        flex-direction: column;
        gap: 0 8px;
        align-items: center;
        justify-content: center;
    }
    .nav-menu{
        gap: 0 8px;
        
    }
    nav, .container, .logo-container, .collection-cont, .feature-cont{
        width: 100%;

    }
    .banner-cont{
        flex-direction: column-reverse;
        gap: 10px;
        padding: 0 2px;
    }
    .banner-img {
        width: 100%;
        height: auto;
    }
    .banner-img img{
        width: 90%;
    }
    .banner-txt{
        width: 100%;
    }
    .banner-txt h1{
        font-size: 30px;
    }
    
    .logos{
        gap: 5px;
    }
    .collections{
        grid-template-columns: auto;
    
    }
    .collections .collection img{
        width: 100%;
        
    }
    .feature{
        flex-direction: column;
        align-items: flex-start;
    }
    .feature .feature-img img{
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 992px){
    main{
        padding: 0 20px;
    }
    .banner-img{
        width: 90%;
    }
    .banner-img img{
        width: 80%;
    }
    nav,.container,.logo-container,.collection-cont,.feature-cont{
        width: 100%;
        
    }
    .collections{
        grid-template-columns: repeat(2,1fr);
    }
    .collections .collection img{
        width: 100%;
        
    }

    .feature{
        flex-direction: column;
        align-items: start;
    }
    .feature-img{
        width: 100%;
    }
    .feature .feature-img img{
        width: 100%;
        height: auto;
    }
}


    